body{
    margin: 8px;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}
.navbar {
    display: block;
    top:0;
    margin: 0px;
    overflow: hidden;
    background-color: #0089ff;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}

.navbar a:hover {
    background-color: #5CB3FF;
}

#logo {
    display:block;
    float: right;    
}

#histourism{
    text-align: center;
}

